In [1]:
import pandas as pd
df=pd.read_csv('weather.csv')
df

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,1-1-2016,42,34,38.0,0.00,0.0,0
1,2-1-2016,40,32,36.0,0.00,0.0,0
2,3-1-2016,45,35,40.0,0.00,0.0,0
3,4-1-2016,36,14,25.0,0.00,0.0,0
4,5-1-2016,29,11,20.0,0.00,0.0,0
...,...,...,...,...,...,...,...
361,27-12-2016,60,40,50.0,0,0,0
362,28-12-2016,40,34,37.0,0,0,0
363,29-12-2016,46,33,39.5,0.39,0,0
364,30-12-2016,40,33,36.5,0.01,T,0
365,31-12-2016,44,31,37.5,0,0,0

In [3]:
df['minimum temperature'].max()

81

In [5]:
df['date'][df['snow fall']=='T']

11      12-1-2016
13      14-1-2016
17      18-1-2016
23      24-1-2016
39       9-2-2016
40      10-2-2016
41      11-2-2016
53      23-2-2016
79      20-3-2016
93       3-4-2016
94       4-4-2016
99       9-4-2016
324    20-11-2016
349    15-12-2016
364    30-12-2016
Name: date, dtype: object

In [6]:
df['maximum temperature'].mean()

64.6256830601093

In [7]:
#CREATING DATA FRAMES
#ONE WAY IS LOADING OR READING CSV FILE(RECOMMENDED METHOD)
#OTHER WAY IS BY CREATING LIST OF TUPPLES
weather_data=[('1/1/2017',32,6,'rain'),
              ('1/2/2017',35,7,'sunny'),
              ('1/3/2017',28,2,'snow'),
              ('1/4/2017',24,7,'snow'),
              ('1/5/2017',32,4,'rain'),
              ('1/6/2017',31,2,'sunny')
              
             ]
    
df=pd.DataFrame(weather_data,columns=['day','temperature','wind speed','event'])
df

        day  temperature  wind speed  event
0  1/1/2017           32           6   rain
1  1/2/2017           35           7  sunny
2  1/3/2017           28           2   snow
3  1/4/2017           24           7   snow
4  1/5/2017           32           4   rain
5  1/6/2017           31           2  sunny

In [8]:
#dimension of table
df.shape

(6, 4)

In [9]:
#few upper rows
df.head()

        day  temperature  wind speed  event
0  1/1/2017           32           6   rain
1  1/2/2017           35           7  sunny
2  1/3/2017           28           2   snow
3  1/4/2017           24           7   snow
4  1/5/2017           32           4   rain

In [10]:
#few loweer rows
df.tail()

        day  temperature  wind speed  event
1  1/2/2017           35           7  sunny
2  1/3/2017           28           2   snow
3  1/4/2017           24           7   snow
4  1/5/2017           32           4   rain
5  1/6/2017           31           2  sunny

In [11]:
#slicing
df[2:5]

        day  temperature  wind speed event
2  1/3/2017           28           2  snow
3  1/4/2017           24           7  snow
4  1/5/2017           32           4  rain

In [12]:
#particular column
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [13]:
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [18]:
df[['day','event']]

        day  event
0  1/1/2017   rain
1  1/2/2017  sunny
2  1/3/2017   snow
3  1/4/2017   snow
4  1/5/2017   rain
5  1/6/2017  sunny

In [19]:
df.temperature.max()

35

In [20]:
df['temperature'].min()

24

In [21]:
df.temperature.describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [22]:
#row which has max temp
df[df.temperature==df.temperature.max()]

        day  temperature  wind speed  event
1  1/2/2017           35           7  sunny

In [23]:
#select only day column which has max temp
df.day[df.temperature==df.temperature.max()]

1    1/2/2017
Name: day, dtype: object

In [3]:
import pandas as pd
df=pd.read_excel('weatherdata.xlsx')
df

KeyboardInterrupt:

In [35]:
#write dataframe to csv
df.to_csv('new.csv')

In [1]:
df.to_csv('new_noindex.csv',index=False)

NameError: name 'df' is not defined

In [39]:
df.to_excel('new.xlsx',sheet_name='weather_data')