In [3]:
phrase = "Giraffe Academy"
print(phrase.upper().isupper())

True

In [19]:
Friends =["rahul","akanksha","saurav","anurag"]
for i in range(len(Friends)):
     print(Friends[i])

rahul
akanksha
saurav
anurag

In [18]:
Friends =["rahul","akanksha","saurav","anurag"]
print (Friends[1:len(Friends)+1])

['akanksha', 'saurav', 'anurag']

In [20]:
Friends =["rahul","akanksha","saurav","anurag"]
for i in range(len(Friends)):
    print(i)

0
1
2
3

In [21]:
numberGrid=[[1,2,3],[4,5,6],[8]]
for i in numberGrid:
    print(i)

[1, 2, 3]
[4, 5, 6]
[8]

In [26]:
numberGrid=[[1,2,3],[4,5,6],[8]]
for i in numberGrid:
    for j in i:
        print(j)

1
2
3
4
5
6
8

In [28]:
numberGrid=[[1,2,3],[4,5,6],[8],[9]]
print(len(numberGrid))

4

In [29]:
numberGrid=[[1,2,3],[4,5,6],[8]]
for i in range(len(numberGrid):
    for j in i:
        print(numberGrid[i][j])

SyntaxError: invalid syntax (<ipython-input-29-179e1c258d76>, line 2)

In [49]:
for i in (range(10.5)):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [34]:
#product of no in list
number = [1,2,3,4,5]
result=1
for i in number:
    result=result*i
print(result)

120

In [35]:
#product of no in list
number = [1,2,3,4,5]
result=1
for i in range(len(number)):
    result=result*number[i]
print(result)

120

In [36]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [8]:
#prime no between 10 to 50
from math import *
for i in range(10,51):
    isNotDivisible = True
    for j in range(2,ceil(i/2)):
        if i%j == 0:
            isNotDivisible=False
            break
    if isNotDivisible:
        print(i)

11
13
17
19
23
29
31
37
41
43
47

In [9]:
#print odd no in list (use of CONTONUE)
numbers=[1,2,3,4,5,6]
for num in numbers:
    if (num%2==0):
        continue
    else:
        print(num)

1
3
5

In [16]:
numbers=[6,5,1,2,4,3]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5, 6]

In [19]:
numbers=[6,5,1,2,4,3]
numbers.sort()
numbers.reverse()
print(numbers)

[6, 5, 4, 3, 2, 1]

In [25]:
a = "one,two,three,four,five"
a=a.split(',')
print(a)

['one', 'two', 'three', 'four', 'five']

In [27]:
b="one two three four five"
b=b.split()
print(b)

['one', 'two', 'three', 'four', 'five']

In [29]:
numbers= [10,20,30,40,50,60,70,80,90,100,110]
print(numbers[::2])

[10, 30, 50, 70, 90, 110]

In [4]:
numbers= [10,20,30,40,50,60,70,80,90,100,110]
print(numbers[3::2])

[40, 60, 80, 100]

In [1]:
squares=[]
for i in range(10):
    squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
lst=[-20,-30,-10,0,10,20,30]
new_lst=[]
for num in lst:
    new_lst.append(2*num)
print(new_lst)

[-40, -60, -20, 0, 20, 40, 60]

In [37]:
lst=[-20,-30,-10,0,10,20,30]
new_lst=[2*num for num in lst]
print(new_lst)

[-40, -60, -20, 0, 20, 40, 60]

In [39]:
lst=[-20,-30,-10,0,10,20,30]
new_lst=[2*num for num in lst if num>=0]
print(new_lst)

[0, 20, 40, 60]

In [40]:
#creating tuples
lst=[-20,-30,-10,0,10,20,30]
new_lst=[(num , num**2) for num in lst]
print(new_lst)

[(-20, 400), (-30, 900), (-10, 100), (0, 0), (10, 100), (20, 400), (30, 900)]

In [76]:
matrix=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
transposed=[[0,0,0],[0,0,0],[0,0,0],[0,0,0]]
for i in range(3):
    for j in range(4):
        transposed[j][i]=matrix[i][j]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [9]:
matrix=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
transposed=[]
for i in range(2):#as column = 4#
    lst=[]
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
print(transposed)

[[1, 5, 9], [2, 6, 10]]
[1, 2, 3, 4, [5, 6, 7, 8]]

In [84]:
matrix=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
transposed=[[row[i] for row in matrix]for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]